#start { 
    margin-left: 45%;
    margin-top: 20%;
    width: 100px;
    height: 50px;
}

#contain {
    display: flex;
    margin-left: 40%;
    margin-top: 30%;

}

#score {
    display: none;
}

#time {
    display:none;
}